body {
    background-color: lightgrey;
}

#closed-book {
    width: 250px
}

#closed-book:hover {
    transform: scale(1.1);
    margin: 10px;
}

#closed-book:active {
    transform: scale(1);
}

#open-jack {
    width: 250px;
    margin: 10px;
}

#open-jack:hover {
    transform: scale(1.1);
}

#open-jack:active {
    transform:scale(1);
}

#open-box {
    width: 250px;
}

#open-box:hover {
    transform: scale(1.1);
}

#open-box:active {
    transform: scale(1);
}

#balloonDiv {
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    width: 400px;
    height: 150px;
}

#balloonOne,
#balloonTwo,
#balloonThree {
    width: 80px;
    height: 80px;
    border: 0.5px solid black;
    border-radius: 50%;
    margin: 1rem;
}

#balloonOne{
    background-color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#balloonTwo{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#balloonThree{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p {
    font-weight: bold;
    font-size: 1.5rem;
}

#exit {
    float: right;
    width:250px;
}

#exit:hover {
    transform: scale(1.1);
}

#exit:active {
    transform: scale(1);
}