* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

#start-game {
    width: 75px;
    height: 30px;
    background-color: lightblue;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}