body{
    background-color: whitesmoke;
}

.game-div{
    width: 90%;
    height: 800px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2rem;
}

.room-options{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-room{
    width:80%;
    height: 800px;
    background-image: url('../imgs/entry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 1s;
}

.entry,
.hall,
.sarco,
.stairs{
    height: 180px;
    margin-left: 20px;
}

.entry{
    background: url('../imgs/entry.jpg');
    background-size: cover;
}

.hall{
    background: url('../imgs/hall.jpg');
    background-size: cover;
}

.sarco{
    background: url('../imgs/sarcophagus.png');
    background-size: cover;
}

.stairs{
    background: url('../imgs/stairs.jpg');
    background-size: cover;
}

.entry:hover,
.hall:hover,
.sarco:hover,
.stairs:hover{
    transform: scale(1.05);
}

.entry:active,
.hall:active,
.sarco:active,
.stairs:active{
    transform: scale(1);
}

div:focus{
    outline: 5px solid lightgreen;
}